name: Release

on:
  release:
    types: [created]

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go 1.21.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
      - name: Install dependencies
        run: |
          go get github.com/getlantern/systray
          go get github.com/pelletier/go-toml
      - name: Install Dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install gcc libgtk-3-dev libayatana-appindicator3-dev
      - name: Build (Linux)
        if: runner.os == 'Linux'
        run: go build -tags=legacy_appindicator -o ./linux/ha-battery-level
      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: go build -ldflags -H=windowsgui -o ./windows/ha-battery-level.exe
      - name: Build (Mac)
        if: runner.os == 'Mac'
        run: go build -o ./mac/ha-battery-level
      - name: Copy Icons
        run: | 
          cp ./icons/* ./linux/
          cp ./icons/* ./windows/
          cp ./icons/* ./mac/
      - name: Archive
        run: |
          tar -czvf linux.tar.gz ./linux
          zip -r windows.zip ./windows
          tar -czvf macos.tar.gz ./mac
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./ha-battery-level-linux.tar.gz
          asset_name: ha-battery-level-linux.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./ha-battery-level-windows.zip
          asset_name: ha-battery-level-windows.zip
          asset_content_type: application/zip
        env:
            GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./ha-battery-level-mac.tar.gz
          asset_name: ha-battery-level-mac.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}
