name: Release

on:
  release:
    types: [created]

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go 1.21.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
      - name: Install dependencies
        run: |
          go get github.com/getlantern/systray
          go get github.com/pelletier/go-toml
      - name: Install Dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install gcc libgtk-3-dev libayatana-appindicator3-dev

      - name: Build (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: go build -tags=legacy_appindicator -o ./linux/ha-battery-level
      - name: Build (Windows)
        if: matrix.os == 'windows-latest'
        run: go build -ldflags -H=windowsgui -o ./windows/ha-battery-level.exe
      - name: Build (Mac)
        if: matrix.os == 'macos-latest'
        run: go build -o ./mac/ha-battery-level

      - name: Copy Icons (Mac)
        if: matrix.os == 'macos-latest'
        run: |
          mkdir ./mac/icons
          cp ./icons/* ./mac/icons
      - name: Copy Icons (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          mkdir ./linux/icons 
          cp ./icons/* ./linux/icons
      - name: Copy Icons (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          mkdir ./windows/icons
          cp ./icons/* ./windows/icons

      - name: Archive (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: tar -czvf linux.tar.gz ./linux
      - name: Archive (Windows)
        if: matrix.os == 'windows-latest'
        run: zip -r windows.zip ./windows
      - name: Archive (Mac)
        if: matrix.os == 'macos-latest'
        run: tar -czvf macos.tar.gz ./mac

      - name: Upload Release Asset (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./linux.tar.gz
          asset_name: ha-battery-level-linux.tar.gz
          asset_content_type: application/gzip
          asset_label: ha-battery-level-linux.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}

      - name: Upload Release Asset (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./windows.zip
          asset_name: ha-battery-level-windows.zip
          asset_content_type: application/zip
          asset_label: ha-battery-level-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}
      - name: Upload Release Asset (Mac)
        if: matrix.os == 'macos-latest'
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./macos.tar.gz
          asset_name: ha-battery-level-macos.tar.gz
          asset_content_type: application/gzip
          asset_label: ha-battery-level-macos.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GH }}